* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.d-flex {
    display: flex;
}

/* Header style */

.site_header {
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #e3e3e3;
    position: relative;
    background-image: linear-gradient(to top, #d3d3d3, #e3e3e3);
}

.dots {
    flex-grow: 1;
}

.meeting_id {
    position: absolute;
}

.dots i {
    padding-right: 5px;
}

#red {
    color: #fc615d;
}

#yellow {
    color: #fdbc40;
}

#green {
    color: #33c749;
}

.cript {
    color: #a5a5a5;
    border: 3px solid white;
    background-color: #a5a5a5;
}